<div class="vcenter-item flex-column min-vh-100 justify-content-center align-items-center addDivContainer" id="addEquipmentDiv">
    <h1 class="display-5">Dodajte opremo preko naslednjih vnosnih polj</h1>
    {% with messages = get_flashed_messages() %}
      {% if "je bila" in messages[0] %}
        <p class="text-primary" style="position: relative">{{messages[0]}}</p>
      {% elif "ni bila" in messages[0] %}
      <p class="text-danger" style="position: relative;">{{messages[0]}}</p>
      {% else  %}
        <p class="text-danger" style="position: relative; visibility: hidden">DummyText</p>
      {% endif %}
    {% endwith %}
<form action="/addEquipment/" method="post" class="d-flex flex-column min-vh-100 align-items-center" id="addForm">
  <div class="row mb-3" id="mainRow">
    <div class="col" style="text-align: center;">
        <select class="form-outline selectpicker input-lg" id="tip" data-live-search="true" name="tip" form="addForm">
            <option>Izberi...</option>
            {% for t in equipmentTypes %}
                <option>{{t.name}}</option>
            {% endfor %}
        </select>
        <div class="row">
        <label for="tip" class="text-large">Tip</label>
        </div>
    </div>
    <div class="col" style="text-align: center;">
        <select class="form-outline selectpicker input-lg" id="znamka" data-live-search="true" form="addForm" name="znamka">
            <option>Izberi...</option>
            {% for p in producers %}
                <option>{{p.name}}</option>
            {% endfor %}
        </select>
        <div class="row">
        <label for="znamka" class="text-large">Proizvjalec</label>
        </div>
    </div>
    <div class="col" style="text-align: center;">
      <div class="form-outline form-control-lg">
        <input type="text" id="model" class="form-control input-lg" name="model"/>
        <label for="model" class="text-large" id="lastLable">Model</label>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn mb-4 btn-lg text-white font-weight-bold" id="submitButton">Dodaj</button>
  </form>
  </div>
