{% extends "nav.html" %}
{% block body %}

<script>
    function get_log(){
            window.location = "/administration/log";
        }
</script>


<br>
<form>
<div align="center">
<div id="settingsContainer" class="w3-card-4">
    <div id="settingsContainerDiv" align="center">
        <h2 class="h3 page-title">Plošča za skrbnike</h2>
        <div class="my-4">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a id="settingsHeader" class="nav-link active text-white" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false"><strong>Možnosti skrbnika</strong></a>
                </li>
            </ul>
            <strong class="mb-0 settingsTitle">Manipulacija podatkov</strong>
            <p>Brišite podatke v podatkovni bazi ali posodobite uporabnike</p>
            <div class="list-group mb-5">
                <div class="list-group-item settingsRowContainer w3-card-4 row">
                    <div class="row align-items-center">
                        <div class="col">

                            <strong class="mb-0">Brisanje podatkov</strong>
                            <p class="mb-0">Brišite podatke v podatkovni bazi</p>
                        </div>
                        <div class="col-auto">
                            <a href="/administration/delete"><input class="w3-btn w3-border" style="background-color: #00a180; color: white !important;" type="button" onclick="" value="Brišite podatke" disabled></a>
                        </div>
                    </div>
                </div>
                <div class="list-group-item settingsRowContainer w3-card-4 row">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">Posodablanje uporabnikov</strong>
                            <p class="mb-0">Posodite podatke uporabniko</p>
                        </div>
                        <div class="col-auto">
                            <a href="/administration/change"><input class="w3-btn w3-border" style="background-color: #00a180; color: white !important;" type="button" onclick="" value="Posodobi podatke"></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4" />
            <strong class="mb-0 settingsTitle">Upravlanje skrbnikov</strong>
            <p>Uporabnikom aplikacije določite ali odstranite vlogo skrbnika</p>
            <div class="list-group mb-5">
                <div class="list-group-item settingsRowContainer w3-card-4 row">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">Vloga skrbnika</strong>
                            <p class="mb-0">Določite skrbnike aplikacije</p>
                        </div>
                        <div class="col-auto">
                            <a href="/administration/select"><input class="w3-btn w3-border" style="background-color: #00a180; color: white !important;" type="button" value="Določite skrbnike"></a>
                        </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4" />
                <strong class="mb-0 settingsTitle">Dnevnik</strong>
                <p>Preverite datoteko dnevnika aplikacije</p>
                <div class="list-group mb-5">

                    <div class="list-group-item settingsRowContainer w3-card-4 row">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">Preverjanje Dnevnika</strong>
                            <p class="mb-0">Prenesite in preverite datoteko dnevnika aplikacije</p>
                        </div>
                        <div class="col-auto">
                            <input class="w3-btn w3-border" style="background-color: #00a180; color: white !important;" type="button" onclick="get_log()" value="Prenesi dnevnik">
                        </div>
                    </div>
                </div>

            </div> 
        </div>
    </div>
</div>
</form>


<div class="w3-modal loadingScreen">
    <div class="w3-modal-content loadingScreenContent">
      <div class="w3-container">
        <div class="loader"></div>
      </div>
    </div>
</div>


{% endblock %}
